.messageRow{
    display: flex;
    // justify-content:space-around;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.statusCode {
    font-weight: bold;
}

.path {
    color: #007bff; 
}

.error {
    color: #dc3545; 
}

.timestamp {
    font-size: 0.9em;
    color: #666;
}



//test
// .gridContainer {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr); // Four columns for each piece of information
//     gap: 10px; // Space between grid items
// }

// .gridItem {
//     display: contents; // Use contents to allow direct children to be grid items
// }

// .statusCode, .path, .error, .timestamp {
//     background-color: #f9f9f9; // Background color for each item
//     padding: 10px;
//     border: 1px solid #ddd; // Border for each item
//     border-radius: 4px; // Rounded corners
// }

// .statusCode {
//     font-weight: bold;
// }

// .path {
//     color: #007bff; // Bootstrap primary color
// }

// .error {
//     color: #dc3545; // Bootstrap danger color
// }

// .timestamp {
//     font-size: 0.9em;
//     color: #666;
// }




.gridItem {
    display: flex;
    justify-content: space-between; // Align items in a row
    border-bottom: 1px solid #ddd; // Border for each item
    background-color: #f9f9f9; // Background color for each item
}

.statusCode {
    font-weight: bold;
}

.path {
    color: #007bff; // Bootstrap primary color
}

.error {
    color: #dc3545; // Bootstrap danger color
}

.timestamp {
    font-size: 0.9em;
    color: #666;
}