.App {
  text-align: center;
  background: #dbdbdb69;
}

.generic-container{
  background: #ffffff;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.font-light{
  color: grey;  
}

.sub-title{
  color: #514e4e;
  font-size: 20px;
  padding: 12px;
  margin: 0;
  display: flex
}