.container{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 6px;
    color: grey;

    div{
        font-size: 28px;
        font-weight: 600;
    }
}